= simple_form_for(@currency, wrapper: :vertical_form) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :code
    = f.association :country

  .form-actions
    .btn.btn-primary= f.button :submit

