.panel.panel-default
  .panel-heading
    %p#notice= notice
    .btn.btn-default= link_to 'Edit', edit_currency_path(@currency)
    .btn.btn-default= link_to 'Back', currencies_path

  .panel-body
    %p
      %b Name:
      = @currency.name
    %p
      %b Code:
      = @currency.code
    %p
      %b Country:
      = @currency.country_name
